# Sphinx build dosyaları
source/build/
source/_build/

# Dökümantasyonun derlenmiş halleri
docs/build/

#  MacOS tarafında oluşturulan dosyalar
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# IDE
.vscode/
.idea/
tokentoken
